<!DOCTYPE html>
<html>

<body style="background: #F3F4F8;">
    <div
        style="box-sizing: border-box; max-width: 600px; width: 100%; margin: 4rem auto 2rem; overflow: hidden; background: #FFF; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div style="margin: 0; box-sizing: border-box; width: 100%;">
            <img src="https://cdn.mcauto-images-production.sendgrid.net/acddff5e47ddf1d8/41ba1d03-a71f-4790-98ba-b66090ec4cc6/2242x637.jpg"
                alt="" style="margin: 0; box-sizing: border-box; width: 100%; max-width: 600px;" />
        </div>
        <div style="box-sizing: border-box; margin: 1rem 0 1rem;">
            <p
                    style="font-family: 'Poppins', sans-serif; margin: 0; box-sizing: border-box; text-align: center; font-size: 1rem; font-weight: 150;">
                {{text}}
            </p>
        </div>
        <div style="margin: 0; box-sizing: border-box; width: 100%; padding: 1rem 1.5rem;">
            <p
                    style="font-family: 'Poppins', sans-serif; margin: 0; box-sizing: border-box; font-size: 16px; color: gray;">
                <a href="https://stylike.io/profile/staking" style="color: #177CCC;">more information</a>
            </p>
        </div>
        <div
            style="margin: 0; box-sizing: border-box; padding: 0.8rem 2rem; background: #181818; width: 100%; margin-top: 1rem;">
            <p
                style="font-family: 'Poppins', sans-serif; margin: 0; color: #e8e8e8; box-sizing: border-box; font-size: 16px;">
                ©2023-Stylike support Team
            </p>
        </div>
    </div>
</body>

</html>